/* your custom css */

.projectLogo {
    display: none;
}



@media only screen and (max-width: 1024px) {
    .navPusher {
        padding-top: 82px;
    }

    .headerTitleWithLogo {
        display: block !important;
    }    
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}


.navPusher{
    //background-color: #f5f7f9!important;
    border-right: 1px solid #eaecef;
}

.toc {
     border-right: 1px solid #eaecef;   
}

.container {
    //background-color: #fff!important;

}

.fixedHeaderContainer {
        box-shadow: 0 2px 14px rgba(60,59,77,.5);
}

.fixedHeaderContainer a {
    height: 32px!important;
}

h1, h2 {

    border-bottom: 1px solid #eaecef;
}

header h2 {
    border-bottom: 0;

}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: Overpass Mono,monospace;*/
}

code {
    border-radius: 6px;
}